<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		 <meta http-equiv="X-UA-Compatible" content="IE=edge">
		 <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
		 <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		 <meta name="renderer" content="webkit">
		 <title>珠海头条</title>
		 <!-- Bootstrap -->
		 <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/start2.css"/>
		<!-- 回到顶部css -->
		<link rel="icon" href="img/timg.jpg" type="image/x-icon"/>
		<link rel="shortcut icon" href="img/timg.jpg" type="image/x-icon">
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
		<script src="js/jquery.min.js"></script>
		<!-- 回到顶部 -->
		<script src="js/start2.js"></script>
	</head>
	<body>
		<div>
	<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid"> 
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">珠海头条</a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">热点</a></li>
            <li><a href="#">财经</a></li>
			<li><a href="#">国际</a></li>
			<li><a href="#">汽车</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    更多 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">游戏</a></li>
                    <li><a href="#">娱乐</a></li>
                    <li><a href="#">体育</a></li>
					<li><a href="#">军事</a></li>
					<li><a href="#">文学</a></li>
                </ul>
            </li>
        </ul>
			<div class="weather">
			<iframe width="420" scrolling="no" height="55" frameborder="0" allowtransparency="true" src="//i.tianqi.com/index.php?c=code&id=12&icon=1&num=5&site=12">			
			</iframe>
			<ul class="nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
			            个人中心 <b class="caret"></b>
			        </a>
			        <ul class="dropdown-menu">
			            <li><a href="#">游戏</a></li>
			            <li><a href="#">娱乐</a></li>
			            <li><a href="#">体育</a></li>
			        </ul></li>
					<li></li>
			</ul>
		</div>
		
    </div>
    </div>
</nav>

	<div class="bui-box-container">
		<div class="bui-left-middle">
			<div class="article-box">
				<h1 class="article-title">海滨公园提升改造后全新亮相</h1>
				<div class="article-sub">
					<span>
						2019-04-28 11:34:53
					</span>					
					</div>
					<div class="article-content">
						<div>
							<p>“红黑相间的沥青路，翠绿一片的大草坪，简直就是绿色氧吧。中心湖还添了黑天鹅，海滨公园更美了。”
							7月14日，海滨公园完成第一阶段的提升改造后，以全新面貌亮相，受到市民、游客点赞。</p>
							<div class="pgc-img">
								<img src="img/haibingongyuan.jpg" class="pic2"/>
							</div>
							<p>
								据了解，海滨公园是珠海经济特区成立伊始兴建的首个综合文化休闲公园，承载着珠海几代人的记忆。
								同时，也因其别具海滨特色的秀美景致，别具匠心的规划设计与建设风格，一直深受市民及外地游客的喜爱。
								今年是海滨公园建园40周年，为使海滨公园以全新面貌迎接游客，自今年5月起，珠海城建集团所属粤华园林绿化建设管理公司启动了对海滨公园的提升改造。
							</p>
							<p>
								记者看到，海滨公园正门处有较大的提升改造：入口处种植了数十种花卉，高低错落，形态各异，五颜六色；
								醒目处竖立了一块造型别致的天然景观石，
							形成独特的园林景观，以崭新的“门面”迎接八方来客。
							据介绍，本次提升改造，公园管理方将主园路全新升级为沥青路面，
							总面积超1万平方米，并以红、黑两色区分快、慢步道，方便市民游玩或散步、慢跑等。此外，还平整扩充了公园停车场，铺设了防滑砖，停车位也增加至143个。
							</p>
							<p>
								徜徉在海滨公园的蜿蜒小道，不时映入眼帘的园林小景颇费心思，让游客惊喜连连。
								“从前有点坑洼不平的水泥路铺上沥青后，踩上去舒适，有弹性，更美观了。”有游客表示。
							</p>
							<p>
								海滨公园大草坪是市民、游客尤其是孩子们玩耍的乐园。经过精心梳理打造，硕大的草坪已清除掉原有的杂交草，
								全部种上了整齐秀美的台湾草，面积约2万平方米。如今的大草坪绿草如茵，成为市民、游客放风筝、吹海风、赏海景的好去处。
								现场管理人员介绍，公园的中心湖还迎来了黑天鹅、水鸭等一批“新客人”，
								沿湖搭建了一些禽鸟栖息屋，为市民亲近大自然，与禽鸟逗趣、投食创造良好条件。
							</p>
							<p>
								据介绍，接下来，粤华园林公司将开展海滨公园第二阶段的提升改造工程，
								包括农业欢乐园项目、湖心岛提升等。
								其中，农业欢乐园项目将在靠近海边一侧建造一个占地近5000平方米的农业生态园，
								种植丰富多样的新优农产品，
								为市民亲近大自然、体验农耕快乐提供良好样板。
								此外，公司还计划对友谊亭等设施进行提升改造，同时进一步提升整个公园的园林绿化景观。
							</p>
							<p>
								记者 陈XX
							</p>
						</div>
					</div>
			</div>
			
			<div class="detail-comment">
				<div id="comment">
					<div class="c-header">
						<em>10&nbsp;</em>
						条评论
					</div>
					<div class="inputbox">
						<div class="bui-box">
							<div class="avatar-wrap avatar-wrap-center"></div>
							<div class="input-wrap">
								<div class="c-textarea">
									<textarea placeholder="写下您的评论..."></textarea>
								</div>
								<div class="c-action">
									<div class="c-sumbit">评论</div>
								</div>
							</div>
						</div>
					</div>
					<ul>
						<li class="c-item">
							<div class="c-content">
								<div class="c-user-info">
									<a href="#" target="_blank" class="c-user-name">我是你爹爹</a>
									<span class="c-create-time">2019-02-03</span>
								</div>
								<p>good!good!good啦!</p>
							</div>
						</li>
						<li class="c-item">
							<div class="c-content">
								<div class="c-user-info">
									<a href="#" target="_blank" class="c-user-name">我是你爹爹</a>
									<span class="c-create-time">2019-02-03</span>
								</div>
								<p>good!good!good啦!</p>
							</div>
						</li>
						<li class="c-item">
							<div class="c-content">
								<div class="c-user-info">
									<a href="#" target="_blank" class="c-user-name">我是你爹爹</a>
									<span class="c-create-time">2019-02-03</span>
								</div>
								<p>good!good!good啦!</p>
							</div>
						</li>
						<li class="c-item">
							<div class="c-content">
								<div class="c-user-info">
									<a href="#" target="_blank" class="c-user-name">我是你爹爹</a>
									<span class="c-create-time">2019-02-03</span>
								</div>
								<p>good!good!good啦!</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<!-- <div class="bui-middle-right">
			<div class="news-list-side">
				<div id="sort-container">
					<div class="section-box">
						<div class="section-nav">
							<a href="#" target="_blank">点击排名</a>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<div class="bui-right">
			<div class="actGotop"><a href="javascript:;" title="返回顶部"></a></div>
		</div>
		
	</div>
</div>
	</body>
</html>
