<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="renderer" content="webkit">
  <title>珠海头条</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <!--导航-->
  <link href="/news/css/collder.css" rel="stylesheet" type="text/css">
  <!--下拉刷新-->
  <link rel="stylesheet"   type="text/css" href="/news/css/refresh.css"/>
  <!--广告-->
  <link rel="stylesheet" type="text/css" href="/news/css/advertising .css">
  <link rel="stylesheet" type="text/css" href="/news/css/start.css"/>
  <!--广告轮播-->
  <link rel="stylesheet" href="/news/css/reset.css"/>
  <link rel="stylesheet" href="/news/css/index.css"/>
  
 <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
 <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
 <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
 <!--下拉刷新-->
 <script type="text/javascript" src="https://apps.bdimg.com/libs/zepto/1.1.4/zepto.min.js"></script>
<!-- <script type="text/javascript" src="/news/js/refresh.js"></script>-->
 <!--两边广告-->
 <script type="text/javascript" src="/news/js/advertising .js"></script>
 <script type="text/javascript">
  $(function(){
    $(".coupletbox").clonefn({
       cloneto:false,//是否允许克隆
       initial:"top", //初始位置top或down
       closeBtn:".closeBtn",//关闭按钮
       speed:800,//动画速度
       easing:"easeInOutBack",//扩展动画，是基于jQuery Easing v1.3官方下载地址http://gsgd.co.uk/sandbox/jquery/easing/
       zIndex:10000 //层
  });
});
  </script>
   <!--广告轮播-->
    <script src="/news/js/jquery-ui-1.8.6.core.widget.js"></script>
    <script src="/news/js/jqueryui.bannerize.js"></script>
   <script type="text/javascript">
        $(document).ready(function(){
            $('#banners').bannerize({
                shuffle: 1,
                interval: "5"
            });
            $(".ui-line").hover(function(){
                $(this).addClass("ui-line-hover");
              $(this).find(".ui-bnnerp").addClass("ui-bnnerp-hover");
           },function(){
                $(this).removeClass("ui-line-hover");
                $(this).find(".ui-bnnerp").removeClass("ui-bnnerp-hover");
            });
        });
    </script>
   

</head>

<body> 
  <!--巨幕-->
  <div class="jumbotron text-center" style="margin-bottom:0">
    <h1>珠海头条，珠海人的门户网站</h1>
    <p>让你足不出户看世界</p> 
  </div>
  <!--对联广告-->

  <div class="coupletbox" style="width:150px; height:300px; background-image:url(/news/img/girl.jpg)">
      <a href="#" class="closeBtn"  title="关闭">&times;关闭</a>	
    </div>
    <div class="coupletbox" style="width:150px; height:300px; background-image:url(/news/img/girl1.jpg)">
      <a href="#" class="closeBtn"  title="关闭">&times;关闭</a>
    </div>
  
  <!--End对联广告
  <!--装全部内容-->
  <div class="mid">	

  
  <!--这是导航栏-->
	
  <nav class="navbar navbar-default " role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="label label-danger">Menu</span>
          <!-- <span class="label label-danger">珠海头条</span> -->

        </button>
        <a class="navbar-brand" href="#">珠海头条</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!--这是固定标签-->
          <li class="active"><a href="#">热点 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">财经</a></li>
          
          
          <li><a href="#">汽车</a></li>
          <li><a href="#">图片</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">更多<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">娱乐</a></li>
              <li><a href="#">体育</a></li>
              <li><a href="#">文学</a></li>
              <li><a href="#">军事</a></li>
              <li><a href="#">科技</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入搜索内容">
          </div>
          <button type="submit" class="btn btn-default">搜索</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">下载App<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">xx图片</a></li>
            </ul>
          </li>
          <div class="bbtn">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              登录
            </button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
              注册
            </button>
          </div>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">联系我们 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">联系方式</a></li>
              <li><a href="#">联系地址</a></li>
              <li><a href="#">制作人</a></li>
              <li><a href="#">鑫，生</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
     
    </div><!-- /.container-fluid -->

  </nav> 

  <div>
    <!--登录模态框-->
    <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-toggle="modal">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-container">
              <div class="col-md-6 col-md-offset-3">
                <form id="login-form">
                  <div class="form-group has-feedback">
                    <h1 >登录</h1>
                    <label for="username">用户名</label>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                      <input id="login-username" class="form-control" placeholder="请输入用户名" maxlength="20" type="text" name="login-username">
                    </div>

                    <span style="color:red;display: none;" class="tips"></span>
                    <span style="display: none;" class=" glyphicon glyphicon-remove form-control-feedback"></span>
                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                  </div>

                  <div class="form-group has-feedback">
                    <label for="password">密码</label>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                      <input id="login-password" class="form-control" placeholder="请输入密码" maxlength="20" type="password" name="login-password">
                    </div>

                    <span style="color:red;display: none;" class="tips"></span>
                    <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                  </div>

                  <div class="form-group">
                    <input class="form-control btn btn-primary" id="submit"
            value="立即登录" type="button">
						
                  </div>

                  <div class="form-group">
                    <input id="reset1" value="重置" class="form-control btn btn-danger" type="reset">
                  </div>
                  <div style="display:block;width:330px;height:40px;">
                    <span id="lab_type2">使用第三方直接登陆</span>
                  </div>

                  <div class="width:330px;height:100px;border-bottom: 1px solid #FFFFFF;">
                      <span id="login-message"></span>
                    <br />
                    <button id="login_QQ" type="button" class="btn btn-info">
                      <img src="/news/img/qq32.png" class="width:20px;margin-top:-4px;" />&emsp;QQ登录
                    </button>
                    <button id="login_WB" type="button" class="btn btn-danger">
                      <img src="/news/img/sina32.png" class="width:20px;margin-top:-4px;" />&emsp;微博登录
                    </button>
                  </div>
              </form>
			</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- 注册模态框 -->
  <div class="modal fade " id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-toggle="modal">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-container">
            <div class="col-md-6 col-md-offset-3">
              <form id="reg-form">
                <div class="form-group has-feedback">
                  <h1 align="center">注册</h1>
                  <label for="reg-username">用户名</label>
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input id="reg-username" class="form-control" placeholder="请输入用户名" maxlength="20" type="text" name="regUsername">
                  </div>

                  <span style="color:red;display: none;" class="tips"></span>
                  <span style="display: none;" class=" glyphicon glyphicon-remove form-control-feedback"></span>
                  <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                  <label for="reg-password">密码</label>
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input id="reg-password" class="form-control" placeholder="请输入密码" maxlength="20" type="password" name="regPassword">
                  </div>

                  <span style="color:red;display: none;" class="tips"></span>
                  <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                  <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                  <label for="passwordConfirm">确认密码</label>
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input id="passwordConfirm" class="form-control" placeholder="请再次输入密码" maxlength="20"
                      type="password">
                  </div>
                  <span style="color:red;display: none;" class="tips"></span>
                  <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                  <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                  <label for="phoneNum">手机号码</label>
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                    <input id="phoneNum" class="form-control" placeholder="请输入手机号码" maxlength="11" type="text" name="phone">
                  </div>
                  <span style="color:red;display: none;" class="tips"></span>
                  <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                  <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>

                <div class="row">
                  <div class="col-xs-7">
                    <div class="form-group has-feedback">
                      <label for="idcode-btn">校验码</label>
                      <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-qrcode"></span></span>
                        <input id="idcode-btn" class="form-control" placeholder="请输入校验码" maxlength="6" type="text" name="yzm">
                      </div>
                      <span style="color:red;display: none;" class="tips"></span>
                      <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                      <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                  </div>

                  <div class="col-xs-5 text-center" style="padding-top: 26px">
                      <span id="message"></span>
                    <button type="button" id="loadingButton" class="btn btn-primary" autocomplete="off">获取短信校验码</button>
                  </div>
                </div>

                <div class="form-group">
                  <input class="form-control btn btn-primary" id="submit1"
                    value="立即注册" type="button">
                </div>

                <div class="form-group">
                  <input value="重置" id="reset2" class="form-control btn btn-danger" type="button">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!--广告轮播-->
    <div class="warrper">
        <!--content-->
        <div class="content">
            <!--企业动态-->
            <div class="index-new w1200 mt30">
                <div class="indexadd mt50 mb60">
                    <div id="banners" class="ui-banner">
                        <ul class="ui-banner-slides">
                            <li><a href="toutiao.html" target="_blank"><img src="/news/img/toutiao.jpg" alt="NEW! Get Heart Smart With Essential Omega III" title="NEW! Get Heart Smart With Essential Omega III"/></a></li>
                            <li><a href="toutiao1.html"target="_blank"><img src="/news/img/toutiao1.jpg" alt="NEW! Support Your Skin on a Cellular Level" title="NEW! Support Your Skin on a Cellular Level"/></a></li>
                            <li><a href="toutiao3.html"target="_blank"><img src="/news/img/toutiao7.jpg" alt="NEW! Indulge in Luxury With Royal Spa" title="NEW! Indulge in Luxury With Royal Spa"/></a></li>
                            <li><a href="toutiao4.html"target="_blank"><img src="/news/img/toutiao8.jpg" alt="NEW! Get paid to shop with Cashback" title="NEW! Get paid to shop with Cashback"/></a></li>
                            <li><a href="toutiao5.html"target="_blank"><img src="/news/img/toutiao13.jpg" alt="NEW! Radiation Protection at its Best" title="NEW! Radiation Protection at its Best"/></a></li>
                            <li><a href="toutiao6.html"target="_blank"><img src="/news/img/toutiao14.jpg" alt="Unleash the Power of Isotonix Today" title="Unleash the Power of Isotonix Today"/></a></li>
                            <li><a href="toutiao7.html"target="_blank"><img src="/news/img/toutiao20.jpg" alt="Motives is Changing the Face of UK Beauty" title="Motives is Changing the Face of UK Beauty"/></a></li>
                            <li><a href="toutiao8.html"target="_blank"><img src="/news/img/toutiao23.jpg" alt="Get a Taste of Spring" title="Get a Taste of Spring"/></a></li>
                            <li><a href="toutiao9.html"target="_blank"><img src="/news/img/xia.jpg" alt="Try Isotonix OPC-3 Today for Better Health" title="Try Isotonix OPC-3 Today for Better Health"/></a></li>
                            <li><a href="toutiao10.html"target="_blank"><img src="/news/img/tanwu.jpg" alt="Feel like a princess with Royal Spa" title="Feel like a princess with Royal Spa"/></a></li>
                            <li><a href="toutiao11.html"target="_blank"><img src="/news/img/wajueji.jpg" alt="Stay energised with Isotonix for the Queen's Jubilee" title="Stay energised with Isotonix for the Queen's Jubilee"/></a></li>
                            <li><a href="toutiao2.html"target="_blank"><img src="/news/img/zhufang.jpg" alt="WorldStores - Top Brands Delivered Next Day" title="WorldStores - Top Brands Delivered Next Day"/></a></li>
                        </ul><!--ui-banner-slides end-->
                        <ul class="ui-banner-slogans">
                            <li class="ui-line">
                                <div class="ullinehover">
                                    <div class="ui-bnnerimg floatLeft">
                                     
                                          <img src="/news/img/toutiao.jpg" alt="" width="103"/>
                                      
                                       
                                    </div>
                                    <div class="ui-bnnerp floatRight">
                                       
                                            <h3 style="margin-top: 8px;">从21分到11分，现又要改5分制，为限制中国队，国际乒联无所不用</h3>
                                            <p>乒乓球第一站T2钻石联赛，为限制中国队，国际乒联试运行5分制
                                            </p>
                                        
                                        
                                    </div>
                                </div>
                            </li>
                            <li class="ui-line">
                                <div class="ullinehover">
                                    <div class="ui-bnnerimg floatLeft">
                                        <img src="/news/img/toutiao1.jpg" alt="" width="103"/>
                                    </div>
                                    <div class="ui-bnnerp floatRight">
                                        <h3 style="margin-top: 8px;">「解局」你我的养老金会耗尽吗？</h3>
                                        <p>一份数月前发布的养老金研究报告，近日再次引发民众焦虑...
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="ui-line">
                                <div class="ullinehover">
                                    <div class="ui-bnnerimg floatLeft">
                                        <img src="/news/img/toutiao7.jpg" alt="" width="103"/>
                                    </div>
                                    <div class="ui-bnnerp floatRight">
                                        <h3 style="margin-top: 8px;">媒体评北京南四环追尾事故：你凭什么不先救人？</h3>
                                        <p>7月16日凌晨，一个发生在北京市南四环的车辆追尾事故引发关注。经交警部门通报，这起事故造成了后车车内两人死亡...
                                    </div>
                                </div>
                            </li>
                            <li class="ui-line">
                                <div class="ullinehover">
                                    <div class="ui-bnnerimg floatLeft">
                                        <img src="/news/img/toutiao8.jpg" alt="" width="103"/>
                                    </div>
                                    <div class="ui-bnnerp floatRight">
                                        <h3 style="margin-top: 8px;">拐了！拐了！台风裂成两半，都拐走了</h3>
                                        <p>热！热！热！热爆了！福建“连蒸带煮”模式正式上线         
                                                                        
                                          
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="ui-line">
                                <div class="ullinehover">
                                    <div class="ui-bnnerimg floatLeft">
                                        <img src="/news/img/toutiao13.jpg" alt="" width="103"/>
                                    </div>
                                    <div class="ui-bnnerp floatRight">
                                        <h3 style="margin-top: 8px;">华为即将松绑之际美国会又放大招：禁止特朗普未经批准解禁华为</h3>
                                        <p>美国国会参众两院两党议员7月16日推出新法案，试图正式为华为出口禁令制定立法，并禁止美国总统未经国会批准解禁华为。
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="ui-line">
                                <div class="ullinehover">
                                    <div class="ui-bnnerimg floatLeft">
                                        <img src="/news/img/toutiao14.jpg" alt="" width="103"/>
                                    </div>
                                    <div class="ui-bnnerp floatRight">
                                        <h3 style="margin-top: 8px;">首批5G手机月底开卖，动手吧！</h3>
                                        <p>今年6月，我国正式向四大运营商颁发5G牌照，标志着我国步入5G商用元年,目前，已有8款5G手机获得了3C认证，包括华为4款，一加、中兴、vivo、OPPO各一款。
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="ui-line">
                                <div class="ullinehover">
                                    <div class="ui-bnnerimg floatLeft">
                                        <img src="/news/img/toutiao20.jpg " alt="" width="103"/>
                                    </div>
                                    <div class="ui-bnnerp floatRight">
                                        <h3 style="margin-top: 8px;">自家后院定居9只狼 男子上报相关部门却被告知自费处理</h3>
                                        <p>根日前，加拿大卡城男子Mike Thomson反映，自家的后院住了一窝狼，包括2只成年狼及7只幼狼，并希望政府来处理。
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="ui-line">
                                <div class="ullinehover">
                                    <div class="ui-bnnerimg floatLeft">
                                        <img src="/news/img/toutiao23.jpg" alt="" width="103"/>
                                    </div>
                                    <div class="ui-bnnerp floatRight">
                                        <h3 style="margin-top: 8px;">开撕！耐克以侵犯版权反诉伦纳德logo案 并要求金钱赔偿</h3>
                                        <p>根北京时间7月19日消息，众所周知，此前，快船球星伦纳德已经向耐克公司提出了诉讼
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="ui-line">
                                <div class="ullinehover">
                                    <div class="ui-bnnerimg floatLeft">
                                        <img src="/news/img/xia.jpg" alt="" width="103"/>
                                    </div>
                                    <div class="ui-bnnerp floatRight">
                                        <h3 style="margin-top: 8px;">全城搜寻“珠海味道”！这场美食盛宴25日拉开帷幕</h3>
                                        <p>身为珠海人，吃过地道的珠海美食吗？炎炎夏日没胃口，那更需要美食来挑动味蕾啦！“唐家肴”即将带来一场夏日美食盛宴。
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="ui-line">
                                <div class="ullinehover">
                                    <div class="ui-bnnerimg floatLeft">
                                        <img src="/news/img/tanwu.jpg" alt="" width="103"/>
                                    </div>
                                    <div class="ui-bnnerp floatRight">
                                        <h3 style="margin-top: 8px;">受贿7千余万元！贵州原副省长蒲波被判无期</h3>
                                        <p>18日,南京市中级人民法院公开宣判贵州省人民政府原副省长蒲波受贿案，对被告人蒲波以受贿罪判处无期徒刑。
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="ui-line">
                                <div class="ullinehover">
                                    <div class="ui-bnnerimg floatLeft">
                                        <img src="/news/img/wajueji.jpg" alt="" width="103"/>
                                    </div>
                                    <div class="ui-bnnerp floatRight">
                                        <h3 style="margin-top: 8px;">广东首个试点城市！家有推土机挖掘机快办“身份证”！</h3>
                                        <p>市生态环境局等有关部门联合开展非道路移动机械编码管理检查工作。
                                          按照我市有关规定，从8月1日起，未申领标志的机械设备将被责令退场，并受相应处罚。非道路移动机械是指装配有发动机的移动机械和可运输工。
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="ui-line">
                                <div class="ullinehover">
                                    <div class="ui-bnnerimg floatLeft">
                                        <img src="/news/img/zhufang.jpg" alt="" width="103"/>
                                    </div>
                                    <div class="ui-bnnerp floatRight">
                                        <h3 style="margin-top: 8px;">不再“爬楼苦”！梅华街道首个旧楼加装电梯运行！</h3>
                                        <p>7日，梅华街道鸿运社区葵竹苑12栋3单元的居民们喜气洋洋，通过社区党委、居民和有关部门几年的不懈努力，这座老旧居民楼终于装上了电梯了
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul><!--ui-banner-slogans end-->
                    </div>
                </div>
            </div>
            <!--企业动态 end-->
        </div>
        <!--content end-->
 
    </div>
  

    <!--下拉刷新-->
   
    <div id="app">
      <ul id="app-content">
        <li>
					<div class="no-mode">
						<div class="left-pic">
							<a href="#">
						<img src="/news/img/pic.jpg" class="pic"/>
						</a>
						</div>
						<div class="title-box-right">
						<div class="title-box">						
							<a href="#" target="_blank" class="link">海滨公园提升改造后全新亮相</a>	
							</div>
							<div class="title-inner">
								<p>中国地震台网自动测定：7月14日17时10分在印尼哈马黑拉岛附近发生7.0级左右地震。</p>
							</div>
							<div class="bui-left-footer">
								<a>珠海新闻</a>
								<a>xxx评论</a>
								</div>
						</div>
						</div>
        </li>
        <li>
        	<div class="no-mode">
        		<div class="left-pic">
        			<a href="#">
        		<img src="/news/img/pic.jpg" class="pic"/>
        		</a>
        		</div>
        		<div class="title-box-right">
        		<div class="title-box">						
        			<a href="#" target="_blank" class="link">海滨公园提升改造后全新亮相</a>	
        			</div>
					<div class="title-inner">
						<p>中国地震台网自动测定：7月14日17时10分在印尼哈马黑拉岛附近发生7.0级左右地震。</p>
					</div>
        			<div class="bui-left-footer">
        				<a>珠海新闻</a>
        				<a>xxx评论</a>
        				</div>
        		</div>
        		</div>
        </li>
        <li>
        	<div class="no-mode">
        		<div class="left-pic">
        			<a href="#">
        		<img src="/news/img/pic.jpg" class="pic"/>
        		</a>
        		</div>
        		<div class="title-box-right">
        		<div class="title-box">						
        			<a href="#" target="_blank" class="link">海滨公园提升改造后全新亮相</a>	
        			</div>
				<div class="title-inner">
					<p>中国地震台网自动测定：7月14日17时10分在印尼哈马黑拉岛附近发生7.0级左右地震。</p>
				</div>
        			<div class="bui-left-footer">
        				<a>珠海新闻</a>
        				<a>xxx评论</a>
        				</div>
        		</div>
        		</div>
        </li>
        <li>
        	<div class="no-mode">
        		<div class="left-pic">
        			<a href="#">
        		<img src="/news/img/pic.jpg" class="pic"/>
        		</a>
        		</div>
        		<div class="title-box-right">
        		<div class="title-box">						
        			<a href="#" target="_blank" class="link">海滨公园提升改造后全新亮相</a>	
        			</div>
					<div class="title-inner">
						<p>中国地震台网自动测定：7月14日17时10分在印尼哈马黑拉岛附近发生7.0级左右地震。</p>
					</div>
        			<div class="bui-left-footer">
        				<a>珠海新闻</a>
        				<a>xxx评论</a>
        				</div>
        		</div>
        		</div>
        </li>
        <li>
        	<div class="no-mode">
        		<div class="left-pic">
        			<a href="#">
        		<img src="/news/img/pic.jpg" class="pic"/>
        		</a>
        		</div>
        		<div class="title-box-right">
        		<div class="title-box">						
        			<a href="#" target="_blank" class="link">海滨公园提升改造后全新亮相</a>	
        			</div>
					<div class="title-inner">
						<p>中国地震台网自动测定：7月14日17时10分在印尼哈马黑拉岛附近发生7.0级左右地震。</p>
					</div>
        			<div class="bui-left-footer">
        				<a>珠海新闻</a>
        				<a>xxx评论</a>
        				</div>
        		</div>
        		</div>
        </li>
      </ul>
    </div>
    

  </div>
</body>

<script>

    $(function () {
       findAllObject();
       loadReg();
       $("#loadingButton").click(sendYZM);
       $("#submit1").click(regUser);
       $("#submit").click(loginUser);
       $("#reset2").click(regClean);
       $("#reset1").click(loginClean);
    });

    function loadReg() {
        if (location.search.substring(1) == "reg=0"){
            $("#myModal2").modal("show");
        }
    }

    function regClean() {
        $("#reg-form")[0].reset();
    }

    function loginClean() {
        $("#login-form")[0].reset();
    }

    function loginUser() {
        if ($("#login-username").val()==""||$("#login-username").val()==null){
            alert("用户名不能为空!");
        }
        if ($("#login-password").val()==""||$("#login-password").val()==null){
            alert("密码不能为空!");
        }
        $("#login-message").html("");
        console.log($("#login-form").serialize());
        $.ajax({
            url: "/user/login",
            type: "get",
            data: $("#login-form").serialize(),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result.state);
                if (result.state == 1){
                    $("#myModal").modal("hide");
                    $("#login-form")[0].reset();
                } else {
                    console.log(result.message);
                    $("#login-message").html(result.message);
                }
            },
            error: function () {
                console.log("服务端无法接受此请求!");
            }
        });
    }

    function regUser() {
        if (!($("#reg-password").val() == $("#passwordConfirm").val())){
            alert("密码与确认密码不一致!");
            return false;
        }
        console.log($("#reg-username").val()+","+$("#reg-password").val()+","
            +$("#phoneNum").val()+","+$("#idcode-btn").val());
        $("#message").html("");
        $.ajax({
            url: "/user/register?regUsername="+$("#reg-username").val()+"&regPassword="+$("#reg-password").val()+"&phone="+$("#phoneNum").val()+"&yzm="+$("#idcode-btn").val(),
            type: "get",
            // data: JSON.stringify({
            //     regUsername: $("#reg-username").val(),
            //     regPassword: $("#reg-password").val(),
            //     phone: $("#phoneNum").val(),
            //     yzm: $("#idcode-btn").val()
            // }),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result.state);
                if (result.state == 1){
                    $("#myModal2").modal("hide");
                    $("#myModal").modal("show");
                    $("#reg-form")[0].reset();
                } else {
                    $("#message").html(result.message);
                }
            },
            error: function () {
                console.log("服务端无法接受此请求!");
            }
        });
    }

    function sendYZM() {
        if(!(/^1[3456789]\d{9}$/.test($("#phoneNum").val()))){
            alert("手机号码有误，请重填");
            return false;
        }
        $.ajax({
            url: "/user/matches",
            type: "POST",
            data: "phone="+$("#phoneNum").val(),
            dataType: "json",
            success: function (result) {
                if (result.state == 1){
                    alert("验证码发送成功!");
                } else {
                    console.log(result.message);
                }
            },
            error: function () {
                console.log("服务端无法接受此请求!");
            }
        });
    }
    
    function findAllObject() {
        $.ajax({
            url: "/news/findAllObject",
            type: "POST",
            dataType: "json",
            success: function (result) {
                if (result.state == 1){
                    $("#app-content").empty();
                    var obj = result.data;
                    for (var i=0;i<obj.length;i++){
                        var html = "<li>\n" +
                            "\t\t\t\t\t<div class=\"no-mode\">\n" +
                            "\t\t\t\t\t\t<div class=\"left-pic\">\n" +
                            "\t\t\t\t\t\t\t<a href=\"/doNewsPage/start2?eid="+obj[i].eid+"\">\n" +
                            "\t\t\t\t\t\t<img src="+obj[i].tilteImage+" class=\"pic\"/>\n" +
                            "\t\t\t\t\t\t</a>\n" +
                            "\t\t\t\t\t\t</div>\n" +
                            "\t\t\t\t\t\t<div class=\"title-box-right\">\n" +
                            "\t\t\t\t\t\t<div class=\"title-box\">\t\t\t\t\t\t\n" +
                            "\t\t\t\t\t\t\t<a href=\"/doNewsPage/start2?eid="+obj[i].eid+"\" target=\"_blank\" class=\"link\">"+obj[i].title+"</a>\t\n" +
                            "\t\t\t\t\t\t\t</div>\n" +
                            "\t\t\t\t\t\t\t<div class=\"title-inner\">\n" +
                            "\t\t\t\t\t\t\t\t<p>"+obj[i].content+"</p>\n" +
                            "\t\t\t\t\t\t\t</div>\n" +
                            "\t\t\t\t\t\t\t<div class=\"bui-left-footer\">\n" +
                            "\t\t\t\t\t\t\t\t<a>珠海新闻</a>\n" +
                            "\t\t\t\t\t\t\t\t<a>翠微评论</a>\n" +
                            "\t\t\t\t\t\t\t\t</div>\n" +
                            "\t\t\t\t\t\t</div>\n" +
                            "\t\t\t\t\t\t</div>\n" +
                            "        </li>";
                        $("#app-content").append(html);
                    }

                } else {
                    console.log(result.message);
                }
            },
            error: function () {
                alert("error!");
            }
        });
    }

    
    
</script>


       
</html>