<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Bootstrap 实例 - 默认的面板</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="usercss/userrelease.css">
</head>

<body>
	<div class="min">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">我的发布</h3>
			</div>
			<div class="panel-body">
					<li>
							<div class="no-mode">
							  <div class="left-pic">
								<a href="#">
								  <img src="img/pic.jpg" class="pic" />
								</a>
							  </div>
							  <div class="title-box-right">
								<div class="title-box">
								  <a href="#" target="_blank" class="link">海滨公园提升改造后全新亮相</a>
								</div>
								<div class="bui-left-footer">
								  <a>珠海新闻</a>
								  <a>xxx评论</a>
								</div>
							  </div>
							</div>
						  </li>
						  <li>
								<div class="no-mode">
								  <div class="left-pic">
									<a href="#">
									  <img src="img/pic.jpg" class="pic" />
									</a>
								  </div>
								  <div class="title-box-right">
									<div class="title-box">
									  <a href="#" target="_blank" class="link">海滨公园提升改造后全新亮相</a>
									</div>
									<div class="bui-left-footer">
									  <a>珠海新闻</a>
									  <a>xxx评论</a>
									</div>
								  </div>
								</div>
							  </li>
							  <li>
									<div class="no-mode">
									  <div class="left-pic">
										<a href="#">
										  <img src="img/pic.jpg" class="pic" />
										</a>
									  </div>
									  <div class="title-box-right">
										<div class="title-box">
										  <a href="#" target="_blank" class="link">海滨公园提升改造后全新亮相</a>
										</div>
										<div class="bui-left-footer">
										  <a>珠海新闻</a>
										  <a>xxx评论</a>
										</div>
									  </div>
									</div>
								  </li>
								
								  
			</div>
		</div>
	</div>
</body>

</html>